{% extends 'base.html.twig' %}

{% block body %}



    <form id="seqrch" method="get">



        <div class="container">

            <div class="form-group col-md-2">
                <input class="form-control " placeholder="keyword" name="keyword">
            </div>
        </div>
    </form>
    <div class="hello">
        <input class="btn btn-primary m-3" type="submit" form="seqrch" value="Search"/>
        <a href="{{ path('add_tournament') }}" class="btn btn-dark m-3 float-lg-end">New Tournament</a>

    <table class="table table-hover  table-light ">

        <thead>
        <tr>
            <th class="col">#</th>
            <th class="col">name</th>
            <th class="col">city</th>
            <th class="col">date</th>
            <th class="col">age cat.</th>
            <th class="col">sex</th>
            <th class="col">type</th>
            <th class="col">join</th>

        </tr>
        </thead>
        <tbody>


        {# #}
        {#        test#}
{#        <tr>#}
{#            <td class="col">{{ 'test'|slice(0,2)}}</td>#}
{#            <td class="col">{{ 'dhgfgfdhdgf'|slice(0,5)}}</td>#}
{#            <td class="col">d</td>#}
{#            <td class="col">d</td>#}
{#            <td class="col">d</td>#}
{#            <td class="col">d</td>#}
{#            <td class="col">d</td>#}

{#            <td class="col">#}
{#                <button class="btn btn-danger">Join</button>#}
{#            </td>#}
{#        </tr>#}
        {# #}
        {#        test#}




                {% for p in print %}
                    <tr>
                        <td class="col">{{ p.id }}</td>
                        <td class="col">{{ p.name }}</td>
                        <td class="col">{{ p.city }}</td>
                        <td class="col">{{ p.date|date('d-m-Y') }}</td>
                        <td class="col">{{ p.ageCat.value }}</td>
                        <td class="col">{{ p.sex.value }}</td>
                        <td class="col">{{ p.type.value }}</td>

                        <td class="col">
                            <button class="btn btn-danger
                                                    {% if app.user!=true %}
                                                        disabled
                                                    {% endif %}"
                            >Join</button>
                        </td>
                    </tr>

                {% endfor %}


        </tbody>


    </table>

<div data-user="{{ app.user?app.user.id:0 }}" data-controller="canjoin"></div>

    {% for p in print %}
        {#        {{ p.id }} {{ p.name }} {{ p.city }} {{ p.rated }} <br>#}
    {% endfor %}

{% endblock %}

{% block title %}

{% endblock %}

